/*EXAMPLE MARKUP*/

#PageContainer {
    max-width: 1200px;
    min-width: 940px;
    padding: 15px 0;
    margin: 25px auto;
}

Section {
    padding: 15px;
}

#LayoutSection {
    Width: 100%;
}

#LayoutSection .row {
    margin: 0px 0px;
}

#LayoutSection #grid1200 {
    margin-left: -15px;
}

#LayoutSection #BootstrapGrid {
    width: 1200px;
    margin-left: -15px;
}

.show-grid [class^="col-"] {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
}

mark, .example {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #E1E1E1;
    clear: both;
    display: block;
    height: 1%;
    line-height: 1.2em;
    margin: auto 40px;
    padding: 1em;
    width: auto;
}

pre, .wp_syntax, mark {
    word-wrap: normal;
}

pre, mark {
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: normal;
}

code, pre {
    font-family: "Courier New", Courier, monospace;
}

/*TABS*/

#tabs {
    font-family: 'Average Sans', Arial, SANS-SERIF;
    width: 450px;
}

#tabs div p, .ui-widget {
    font-size: 1em !important;
}

/*BUTTONS & ICONS*/

#ButtonExampleContainer {
    width: 500px;
    background-color: #555555;
    padding: 10px;
}

#IconTable tbody tr td {
    vertical-align: top;
}

#ButtonTable td {
    padding: 0 15px;
    text-align: center;
}

#ButtonExamples li {
    list-style-type: none;
    padding-bottom: 25px;
}

/*DIALOG*/

#ExampleDialog {
    width: 500px;
}

/*LAYOUT*/

.centered {
    text-align: center;
}

small {
    margin-top: -35px;
    position: absolute;
    padding-top: 15px;
}

.grid-unit-example {
    background-color: #B3B3B3;
    font-weight: bold;
    color: #FFF;
    font-size: 75%;
}

.master-box {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 15px;
}

p {
    text-indent: 30px;
}

.demo-icons {
    font-size: 32px;
    margin-left: -15px;
}

.demo-icons > span {
    cursor: pointer;
}

.demo-content {
    float: left;
    margin-left: 20px;
    width: 100%;
}

.demo-content > pre {
    width: 680px;
}

.input-group, .input-group > input {
    width: 150px !important;
}

#InputTypeExamples {
    position: relative;
    width: 400px;
}

#InputTypeExamples > li {
    padding-top: 10px;
    clear: both;
}

#InputTypeExamples > li > label, #InputTypeExamples > li > .form-group {
    float: right;
}

#ExampleButtons > li > button{
    margin-bottom: 10px;
}

.col-md-example {
    width: 21%;
    float:left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.input-prepend > button {
    margin-top: 1px;
    position: absolute;
}

.input-prepend > input {
    border-radius: 0 4px 4px 0;
    left: 43px;
    position: relative;
    width: 75%;
}

/*HEADER TAGS*/

h5{
    font-size: 15px;
}

h4{
    font-size: 17px;
}

h3{
    font-size: 20px;
}